@using System.Data;

@{
    ViewBag.Title = "QueryData";
    Layout = "~/Views/Shared/_Layout.cshtml";  
}

<script src="~/Scripts/QueryData/_menulist.js"></script>

<span id="UserID" class="span" style="display:none">@ViewData["UID"]</span>
<span id="PU" class="span" style="display:none">@ViewData["PU"]</span>
<div id="el" class="easyui-layout" style="width:100%;height:60px;">
    <div data-options="region:'north',title:'',split:false" style="height:50px;">
         <div class="divQtype">
             Query Type-->:
             <input name="QueryType" type="radio" value="SNTrace"  onclick="radio_Click(this.value)" />SNTrace
             <input name="QueryType" type="radio" value="General" checked="checked" onclick="radio_Click(this.value)" />Basic
             <input name="QueryType" type="radio" value="Batch" onclick="radio_Click(this.value)"/>Batch
             <input name="QueryType" type="radio" value="RTMS" onclick="radio_Click(this.value)"/>RTMS
         </div>
         <div class="divQtype"><select id="list" class="list"></select></div>
    </div>
@*    <div data-options="region:'center',title:'',split:true" data-optins="fit:true">
        <div id="PartialView"></div>
    </div>*@
</div>
<div id="PartialView"></div>
@*<div class="divQtype">
     Query Type-->:
     <input name="QueryType" type="radio" value="SNTrace"  onclick="radio_Click(this.value)" />SNTrace
     <input name="QueryType" type="radio" value="General" checked="checked" onclick="radio_Click(this.value)" />Basic
     <input name="QueryType" type="radio" value="Batch" onclick="radio_Click(this.value)"/>Batch
     <input name="QueryType" type="radio" value="RTMS" onclick="radio_Click(this.value)"/>RTMS
    <div class="divQtype"><select id="list" class="list"></select></div>
</div>
<br />
<div id="PartialView"></div>*@