@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";  
}
<script src="~/Scripts/Index/_index.js"></script>
<body class="body">
    <br />
    <div class="indextext">Welcome,Only UserRight level is less than 5 levels that can change passWord!</div>
    <br /><br /><br /><br />
    <div style="text-align:center" class="index">
        <select id="BU"></select>
    </div>
    <div class="index" style="text-align:center">
        <input id="adminusername" type="text" autocomplete="off" placeholder="Admin UserName">
    </div>
    <div class="index" style="text-align:center">
        <input id="adminpassword" type="password" autocomplete="off" placeholder="Admin PassWord">
    </div>
    <div class="index" style="text-align:center">
        <input id="username" type="text" autocomplete="off" placeholder="UserName">
    </div>
    <div class="index" style="text-align:center">
        <input id="password" type="password" autocomplete="off" placeholder="New PassWord"">
    </div>
    <div class="index" style="text-align:center">
        <input id="confpassword" type="password" autocomplete="off" placeholder="Confirm PassWord" onkeydown="chgkeydown(event)">
    </div>
    <div class="index" style="text-align:center">
        <button id="submit" name="btnSub" onclick="btchgPW()">Change</button>
    </div>
</body>
