<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="Portal_PU3" connectionString="Network Library=DBMSSOCN;Server=10.18.11.11;Database=SMT;uid=xxxx;pwd=xxxx;Max Pool Size=200;"/>-->
    <add name="Portal_PU3" connectionString="dgjkQ2CQ7chLQknRZxK2QDeuRmCCiI5B2ZsgH/u8+96o7+ZlsVYnezjFLCZZSRYV8sYRoTVWUGJmNOvx0ufPE/3StJMqBhaVnyMvqgyPTDWnLR8FPlnFLlAlHug5EQXG"/>
    <add name="Portal_PU4" connectionString="dgjkQ2CQ7chLQknRZxK2QDeuRmCCiI5B2ZsgH/u8+96dgNcBUVc0R/oYZ+c/ylxhIjp7GZJ0VDx3j9Vmdg4Hvqw501RxuBiNC+zD3PLEzOGXWzAyWOkbfbNNg0WqNLKT"/>
    <add name="Portal_PU5" connectionString="dgjkQ2CQ7chLQknRZxK2QDeuRmCCiI5B2ZsgH/u8+96mTD1FIMoLveiL6gxWYHAhebDTVJLwAawMamudYC1EVzn3NzpG/f6joUy/x3oJNtCzTqRvxFzj4BjyYA5up9bm"/>
    <add name="Portal_CAM" connectionString="dgjkQ2CQ7chLQknRZxK2QDeuRmCCiI5B2ZsgH/u8+96o7+ZlsVYnezjFLCZZSRYV8sYRoTVWUGKB2sWQ1vVQsGvv/QrsUSV4DyxpOM233cmki2rQfU0pbpUn4ZUKc0doT9fJ7dlD+FM="/>
    <add name="Portal_HUA" connectionString="dgjkQ2CQ7chLQknRZxK2QDeuRmCCiI5B2ZsgH/u8+96o7+ZlsVYnezjFLCZZSRYV8sYRoTVWUGLiIfK6qnd2SHwETZOAp1ezJnVOAherxrRZTAqUHaZNPrb+POd2/G60UJwNs1f69wo="/>
    <add name="BU" connectionString="PU3;PU4;PU5;HUA;CAM"/>
    <add name="UserName" connectionString="zgtcI7tDnnBFmk9TN8hplA=="/>
    <add name="PassWord" connectionString="+G+ea51btbhsU+OCcCzQSw=="/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>
