<script src="~/Scripts/QueryData/_PartialView_StationData.js"></script>

<span id="Station" class="span" style="display:none">@ViewData["Station"]</span>

<div style="padding:4px;height:60px">
     <Table id="dtStationDada"" class="table"></Table>
</div>
